
{% assign all_tags = '' | split: ',' %}
 {% for page in site.portfolio %}
    {% for tags in page.tags %}
        {% for tag in tags %}
            {% assign all_tags = all_tags | push: tag %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% assign all_tags = all_tags | sort %}
{% assign all_tags = all_tags | uniq %}

<!-- end tags -->
  <div class="row">
  <!-- span filters -->
  <div class="col s12 m12 l12">
      <p class="tag-list filters">
        <span class="filter-item" data-filter="*">show all</span>
          {% for tag in all_tags %}      
            <span class="filter-item" data-filter=".{{tag | uri_escape}}">{{ tag }}</span>
          {% endfor %}
      </p>
    </div>
  </div> <!-- .row -->