
{% assign all_tags = '' | split: ',' %}
 {% for page in site.portfolio %}
    {% for tags in page.tags %}
        {% for tag in tags %}
            {% assign all_tags = all_tags | push: tag %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% assign all_tags = all_tags | sort %}
{% assign all_tags = all_tags | uniq %}

<!-- end tags -->
<div class="row mb-1 mt-1">
  <!-- sort -->
  <div class="col s12 m3 l3">
      <label>Sort by</label>
      <select class="browser-default" id="filter-year">
        <option value="*"  data-sort-direction="desc" data-sort-value=""></option>
        <option value="newest"  data-sort-direction="desc" data-sort-value="year">most recent</option>
        <option value="oldest" data-sort-direction="asc" data-sort-value="year">oldest</option>
        
      </select>
    </div>

  <!-- dropdown filters industry -->
  <div class="col s12 m3 l3">
    <label>Project types</label>
    <select class="browser-default" id="filter-project-type">
      <option value="*">show all</option>
       {% for tag in all_tags %}  
      <option value=".{{tag | uri_escape}}">{{ tag }}</option>
       {% endfor %}
    </select>
  </div>
<!-- typology -->
  <div class="col s12 m3 l3">
      <label>Industry</label>
  <select class="browser-default">
    <option value="1">All</option>
    <option value="2">Nume de produs</option>
    <option value="">Nume de firma</option>
    <option value="">Nume eveniment</option>
    <option value="">Proiecte probono</option>
    <option value="">Clase de nume pentru HORECA</option>
  </select>
</div>
  </div><!-- .row -->
  